<div dir="ltr" style="font-family: Arial, sans-serif; font-size: 1em">
	<div>
		<table>
			<tr>
				<td rowspan="4">
					<a href="https://btcassessors.com" target="_blank"><img src="https://i.imgur.com/7nzUvR0.png" alt="BTCAssessors"/></a>
				</td>
				<td><b>{{ name }}</b></td>
			</tr>
			<tr>
				<td style="color:#BA9A57">{{ position }}</td>
			</tr>
			</tr>
			<tr>
				<td><em><a href="tel:{{ phone }}" style="color:#BA9A57">{{ phone }}</a></em></td>
			</tr>
			<tr>
				<td><em><a href="https://www.btcassessors.com" target="_blank" style="color:#727272">https://www.btcassessors.com</a></em></td>
			</tr>
		</table>
	</div>
	<div>
	</div>
</div>
